<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Mission to Mars</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"> 
</head>

<body style="background:white;">
  <div class="container" style="background:white;"> 
    <div class="jumbotron text-center" style"background-image: url>
      <h1>Mission to Mars</h1>
      <p><a class="btn btn-primary btn-lg" href="/scrape" role="button">Scrape New Data</a></p>
    </div>
    <img src="full_image" alt="full_image">
    <h2>Latest Mars News</h2>
    <h3>{{mars_data.title}}</h3>
    <h4>{{mars_data.paragraph}}</h4>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-md-8 col-sm-12">
        <h3>Featured Mars Image</h3>
        <img src="{{mars_data.featured_image}}" class="img-responsive" alt="">
      </div>
      <div class="col-lg-4 col-md-4 col-sm-12">
        <h2>Mars Facts</h2>
        <div style="max-width: 500px; max-height: 200px; font-size: 15px;">
        {{mars_data.table | safe}}
        </div>
      </div>
    </div>
  </div>
  <br>

  <h3 style="padding-top: 45px; margin-top: 95px; text-align: center;">Mars Hemisphere</h3>
  <div class="card-deck">
    <div class="col-md-12">
      <div class="row">
        {% for Hemisphere in mars_data.hemisphere %}
  <div class="col-md-6">
            <div class="thumbnail" style="width: 50%; float:left;">
                <img src= "{{ Hemisphere.image_url }}" alt="">
                <div class="card-body">
                    <h4 class="card-text">{{Hemisphere.title}}</h4>
                </div>
            </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
    <!-- Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" 
    integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" 
    integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" 
    integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</body>

</html>