<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Mission to Mars</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"> 
</head>

<body style="background:white;">
  <div class="container" style="background:white;"> 
    <div class="jumbotron text-center" style"background-image: url>
      <h1>Mission to Mars</h1>
      <p><a class="btn btn-primary btn-lg" href="/scrape" role="button">Scrape New Data</a></p>
    </div>
    <img src="{{ vacation.sloth_img }}" alt="Sloth">
    <h2>Latest Mars News</h2>
    <h3>How NASA's Mars Helicopter Will Reach the Red Planet's Surface</h3>
    <h4>The small craft will seek to prove that powered, controlled flight is possible on another planet. But getting it onto the surface of Mars will take a whole lot of ingenuity.</h4> -->
  </div>
  </div>
</body>

</html>